<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232607319645-mqmqkb36mtk34imesa7bumivv96pcdvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232607319645-mqmqkb36mtk34imesa7bumivv96pcdvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCncAbIWUt2jkBeyqFNTr9Od70GqfoFsiw</string>
	<key>GCM_SENDER_ID</key>
	<string>232607319645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uber</string>
	<key>PROJECT_ID</key>
	<string>uber---rayhan</string>
	<key>STORAGE_BUCKET</key>
	<string>uber---rayhan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232607319645:ios:091dc45d9786714b14afb4</string>
</dict>
</plist>